body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
}
html {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: grey;
  box-shadow: 0px 0px 15px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3%;
}
header a {
  user-select: none;
  text-decoration: none;
  color: lightgray;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  padding: 0.3em;
}
.gamma a {
  text-decoration: none;
  user-select: none;
  color: #3272d9;
  font-weight: 600;
  transition: all 0.2s ease-in;
}
.gamma a:hover {
  cursor: pointer;
  color: #1451b5;
}
input {
  display: none;
}
header a:hover {
  transition: 0.2s ease-in-out;
  font-size: 2.2rem;
  cursor: pointer;
}
.container {
  display: flex;
  height: 86vh;
  padding-top: 14vh;
}
.gamma {
  min-width: 100vw;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.textprim {
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
.textprim1 {
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#marg {
  padding-bottom: 2em;
}
.textsecund {
  display: none;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #d1cecd;
  border-radius: 20px;
  box-shadow: #363332 0px 0px 15px 0px;
  max-width: 90%;
  padding: 1em;
}
.imagine {
  max-width: 100%;
  padding: 0;
  object-fit: fill;
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
.textprim h2 {
  align-self: center;
}
.container label {
  user-select: none;
  color: #3272d9;
  font-weight: 600;
  transition: all 0.2s ease-in;
}
.container label:hover {
  cursor: pointer;
  color: #1451b5;
}
.open {
  display: none;
}
svg {
  fill: black;
}
#pag20:checked ~ #pagsecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
#roma20:checked ~ #romasecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
#madrid20:checked ~ #madridsecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
#lyon20:checked ~ #lyonsecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
#atena20:checked ~ #atenasecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
#timisoara20:checked ~ #timisoarasecund {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}

@media (max-width: 1200px) {
  header {
    gap: 1%;
  }
}

h2 {
  text-align: center;
}
.subtitlu {
  font-size: 2.1rem;
  align-self: flex-start;
  font-weight: 600;
}
@media (max-width: 1200px) {
  header {
    gap: 1%;
  }
}
@media (max-width: 1100px) {
  .textprim {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #pag20:checked ~ #pagsecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #roma20:checked ~ #romasecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #madrid20:checked ~ #madridsecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #lyon20:checked ~ #lyonsecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #atena20:checked ~ #atenasecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #timisoara20:checked ~ #timisoarasecund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 995px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7%;
  }
  #sactive:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nouhead {
    position: fixed;
    height: 300px;
    width: 300px;
    background-color: transparent;
    max-height: 10vh;
    width: 100%;
    min-height: 5em;
  }
  header {
    position: fixed;
    top: 0;
    left: auto;
    right: -286px;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: ease-out 0.55s 0s;
    box-shadow: none;
    background-color: lightgray;
  }
  header a {
    color: black;
  }
  #sactive:checked ~ header {
    right: 0;
    box-shadow: 0 0 20px;
  }
  .open {
    display: inline-block;
    padding-right: 2%;
  }
  .nouhead {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .container {
    padding-top: 2vh;
  }
}
